/* Fade in animation code */

@keyframes animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade in animation code */

@keyframes animation-translate-in-y {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Fade out animation code */

@keyframes animation-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Fade in animation */

.fade-in {
  animation-name: animation-fade-in;
  animation-duration: .2s;
}

/* Fade in animation */

.fade-out {
  animation-name: animation-fade-out;
  animation-duration: .2s;
}

/* Translate y animation */

.translate-in-y {
  animation-name: animation-translate-in-y;
  animation-duration: .5s;
}

@keyframes skeleton-glow {
  from {
    background: rgba(206, 217, 224, 0.2);
    border-color: rgba(206, 217, 224, 0.2);
  }
  to {
    background: rgba(92, 112, 128, 0.2);
    border-color: rgba(92, 112, 128, 0.2);
  }
}

.skeleton {
  -webkit-animation: 1000ms linear infinite alternate skeleton-glow;
  animation: 1000ms linear infinite alternate skeleton-glow;
  background: rgba(206, 217, 224, 0.2);
  background-clip: padding-box !important;
  border-color: rgba(206, 217, 224, 0.2) !important;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: transparent !important;
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skeleton::before, .skeleton::after, .skeleton * {
  visibility: hidden !important;
}