/* Internal imports  */

@import './animations.css';
@import './components.css';
@import './positions.css';
@import './z-indexes.css';
@import './scrollbar.css';
@import './paddings.css';
@import './opacitys.css';
@import './outlines.css';
@import './shadows.css';
@import './borders.css';
@import './margins.css';
@import './colors.css';
@import './cursor.css';
@import './events.css';
@import './block.css';
@import './flexs.css';
@import './fonts.css';
@import './width.css';
@import './grid.css';
@import './hrs.css';
:root {
  /*
    Font default 16px
    16 * 0.6 = 9.6px

    1rem = 9.6px
  */
  font-size: 50%;
  /* *** */
  --size-none: 0rem;
  --size-xxs: 0.1rem;
  --size-xs: 0.5rem;
  --size-s: 1rem;
  --size-sm: 1.4rem;
  --size-m: 1.8rem;
  --size-g: 2.2rem;
  --size-xg: 3rem;
  --size-fill: 100%;
  /*  */
  --user-select: auto;
}

* {
  -webkit-user-select: var(--user-select);
  -moz-user-select: var(--user-select);
  -ms-user-select: var(--user-select);
  user-select: var(--user-select);
  /*  */
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: var(--size-m);
  font-family: var(--font-family);
  font-weight: var(--font-weight-m);
  -webkit-font-smoothing: antialiased;
}

#root {
  overflow: auto;
}

.text-ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

/* External imports  */

@import './../node_modules/normalize.css/normalize.css';