:root {
  --color-outline: var(--color-primary);
  --outline-none: none;
}

*:focus {
  outline: var(--color-outline);
  outline-style: auto;
}

.outline-none {
  outline: var(--outline-none);
}

.outline-soft {
  outline: var(---color-outline);
}