:root {
  --color-primary: #fb1b1b;
  --color-primary-contrast: #ffffff;
  --color-secondary: #6FCF97;
  --color-secondary-contrast: #ffffff;
  --color-success: #1A5CB4;
  --color-success-contrast: #ffffff;
  /*  */
  --color-background-error: #ff0000a8;
  --color-background-error-contrast: #ffffff;
  --color-outline: var(--color-primary);
  --color-background-paper: #fafafa;
  --color-background: #f0f2f5;
  --color-border: #afafaf;
  --color-error: #B10000;
  /*  */
  --color-text-white: #fff;
  --color-text: #000;
  /*  */
  --color-scrollbar: #cecece;
}

.background {
  background-color: var(--color-background);
}

.background-paper {
  background-color: var(--color-background-paper);
}

.background-transparent {
  background-color: transparent;
}

.background-success {
  background-color: var(--color-success);
  color: var(--color-success-contrast);
}

.background-error {
  background-color: var(--color-background-error);
  color: var(--color-background-error-contrast);
}

.background-error-hover:hover {
  background-color: var(--color-background-error);
}

.background-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

.border-color-primary {
  border-color: var(--color-primary);
}

.text-color {
  color: var(--color-text);
}

.text-white {
  color: var(--color-text-white);
}

.text-primary {
  color: var(--color-primary);
}

.text-success {
  color: var(--color-success);
}

.text-error {
  color: var(--color-error);
}